.ct1{max-width: 1280px; margin:0 auto;}
.ct2{max-width: 724px; margin:0 auto;}
.af:after{display:block; clear:both; content:'';}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}

@import 'button';
@import 'title';
@import 'margin';
@import 'file';

