/*filebox*/
.fileBox{
    .btn_file{
    box-sizing: border-box; display: inline-block;
    border:1px solid #ddd;font-size: .9rem;
    color: #a1a1a1; border-radius: 5px; width:82px;
    height:30px; line-height: 28px; text-align: center;
    vertical-align: middle; cursor: pointer;
    background-image: url(.././img/sub/file_bg.png);
    background-position: left center;
    }
    .fileName{
    display: inline-block; width:283px; height:30px; line-height:30px;
    font-size: .9rem; color:#303030; vertical-align: middle; border:0;
    border-bottom: 1px solid #ddd; margin-left:18px;
    }
    input[type="file"]{
    position: absolute; width:1px; height:1px; padding:0; margin: -1px;
    overflow: hidden; clip:rect(0,0,0,0); border:0;
    }
    input::placeholder{font-size:.9rem; color:#cdcdcd;}
}