#bo_v_table { 
    display:none; 
}
.bo_view { 
    display:block; overflow:hidden; box-sizing:border-box; 
    header { display:block; margin:0; padding:15px 10px; background:#f4f7f9; border-top:2px solid #2c2c92; 
        border-bottom: 1px solid #ddd;	border-left:0; border-right:0; overflow:hidden; 
        h1 { padding:0 !important; font-size:1.2em; font-weight:600; }
    }
    #bo_v_info { padding:10px; background: #fff;}
    #bo_v_file { padding:10px; }

}

#bo_v_act { display:none; }
#bo_v_info { 
    border-bottom:1px solid #ddd; overflow:hidden; 
    h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
    ul { display:block; list-style:none; margin:0; padding:0; overflow:hidden; }
    li { display:block; list-style:none; float:left; margin:0 20px 0 0; padding:0; overflow:hidden; }
    li:nth-last-child(1) { float:right; margin:0; }
    h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
    ul {margin:0;padding:0;list-style:none}
    li {padding:0 10px;border-bottom:1px solid #eee;background:#f7f7f7}
    a {display:inline-block;padding:5px 0;color:#000;text-decoration:none}
    a:focus, #bo_v_file a:hover, #bo_v_file a:active {text-decoration:none}
}
#bo_v_atc { min-height:200px; padding:0 10px; border-bottom:1px solid #ddd; overflow:hidden; }
#bo_v_atc_title {margin:0;padding:0;height:0;overflow:hidden}

#bo_v_top {
     margin-top:40px; overflow:hidden;
     :after { display:block; visibility:hidden; content:""; clear:both; }
     h2 { position:absolute; font-size:0; text-indent:-9999em; line-height:0; overflow:hidden; }
     ul { 
        list-style:none; margin:0; padding:0; overflow:hidden; 
        li { list-style:none; margin:0px 5px; padding:0; overflow:hidden; }
        }
        a { display:inline-block; width:auto; min-width:50px; height:30px !important; line-height:30px !important; 
            padding:0 20px; color:#fff !important; font-weight:500; text-align:center; 
            background:#333; border:0; border-radius:0.3em; vertical-align:middle; 
            outline:0; box-sizing:border-box; cursor:pointer; }
        .btn_posi { background:#0076bf; }
}
.bo_v_nb { 
    float:left; 
    li { float:left; margin-right:5px; }
}
.bo_v_com { 
    float:right; 
    li { float:left; margin-left:5px; }
}
