.mybt1{
    float:left; overflow: hidden;
    input{display:none;}
    label{
        position: relative; display: block; width:85px;
        height:36px; background-image: url(.././img/sub/off_bg.png)center no-repeat;
        cursor:pointer; float:left; margin-top:4px;
        ::before{
            position: absolute; content:'';width:85px;height:36px; 
            background-image: url(.././img/sub/on_bg.png)center no-repeat;
            left:0; top:0; opacity:0; transition: .3s;
        }
        ::after{
            position: absolute;content:'';width:26px;height:26px; 
            background-image: url(.././img/sub/swi.png)center no-repeat;
            left:5px; top:4px; transition: .3s;
        }
    }
    p{float:left; font-size: 1rem; color:#333; font-weight: 500;
    line-height: 45px; margin-left: 9px; margin-right: 20px;
    }
    input[type="checkbox"]:checked + label{
        ::before{
        opacity:1; 
        }
        ::after{
        left:54px;
        }
    }
}