.select_ty1{
    background:url(.././img/sub/sch_arr_g.png) no-repeat 92% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    .on{
    background: url(.././img/sub/sch_arr.png)no-repeat 92% 50%;
    }
}